html, body {
    font-size: 16px;
    height: 100%;
}
#signin-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 40vh;
    gap: 20px;
    border-bottom: 1px solid black;
}
#signin-top-box img{
    width: 120px;
    height: 120px;
}
#signin-top-box h1{
    font-size: 4rem;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 110vh;
}
main h1{
    font-size: 3rem;
}
#signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}
#signupForm label{
    font-size: 2rem;
}
#signupForm input{
    width: 80%;
    height: 8vh;
}
#signupForm button{
    width: 50%;
    height: 8vh;
    font-size: 2rem;
}
main a{
    font-size: 2rem;
    margin: 20px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}