/* 新規登録画面のCSS */
html, body {
    font-size: 16px;
    height: 100%;
}
#signin-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 40vh;
    gap: 20px;
    border-bottom: 1px solid black;
}
#signin-top-box img{
    width: 120px;
    height: 120px;
}
#signin-top-box h1{
    font-size: 4rem;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 60vh;
    font-size: 2rem;
    position: relative;
    gap: 2rem;
}
#main a{
    position: absolute;
    top: 3rem;
    right: 5rem;
} 
#main h1{
    font-size: 4rem;
}
#main input{
    width: 20rem;
    height: 5vh;
}
#main button{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 5vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

