/* テンプレート用 */
html {
    font-size: 20px;
}
body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
    border-bottom: solid #555;
    position: relative;
    height: 20vh;
    transition-duration: 1.0s;
}
.header-box.is-active {
    height: 60vh;
}

.app-logo {
    position: fixed;
    top: 1rem;
    left: 3rem;
    padding: 0;
    width: 120px;
    height: 120px;
}
#menuButton {
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 80px;
    height: 80px;
    z-index: 10;
    transition: transform 0.5s ease;
    border: none;
    background-color: white;
}
#menuButton span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    margin: 10px 0;
    transition: all 0.5s ease;
}
#menuButton.is-active {
    transform: rotate(360deg);/*全体が回転*/
}
#menuButton.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);/*バツの左上*/
}
#menuButton.is-active span:nth-child(2) {
    opacity: 0;/*中央の線を隠す*/
}
#menuButton.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
#menu {
    position: absolute;
    left: 3rem;
    bottom: 0;
    display: none;
}
#menu.is-active {
    display: block;
}
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu ul a {
    font-size: 40px;
    display: block;
    padding: 0.5rem;
    color: black;
    text-decoration: underline;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
footer small {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    margin: 3rem 0;
}



/* 新規登録画面andログイン画面 */
.name-error-message {
    color: red;
    font-size: 0.9rem;
    display: none;/*初期状態では非表示*/
}
.name-error-message.is-visible {
    display: block;/*エラー時に表示*/
}
.email-error-message {
    color: red;
    font-size: 0.9rem;
    display: none;/*初期状態では非表示*/
}
.email-error-message.is-visible {
    display: block;/*エラー時に表示*/
}
.pass-error-message {
    color: red;
    font-size: 0.9rem;
    display: none;/*初期状態では非表示*/
}
.pass-error-message.is-visible {
    display: block;/*エラー時に表示*/
}

/* home画面 */
h1 {
    font-size: 48px;
    text-align: center;
    margin: 10px;
}
#addWorkout {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    margin: 10px, 10px, 0px;
}
#addWorkout input {
    font-size: 30px;
    width: 20%;
    height: 60%;
}
#workoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0px  10px 10px 10px;
}
#workoutBtn button {
    font-size: 30px;
    width: 60%;
    height: 60%;
}

/* ワークアウトカードの一覧 */
#showWorkouts {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 88%;
}

.workout-card {
    color: white;
    background-color: black;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 8px red;
    gap: 10px;
    border-radius: 8px;
    height: 100px;
    font-size: 30px;
}

/* ワークアウトカードのモーダルCSS */
#cardDialog:modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid black;
    border-radius: 5px;
    width: 80%;
    height: 8rem;
    padding: 10px;
}
#cardDialog:modal button {
    font-size: 40px;
}
#cardDialog:modal #closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    font-size: 50px;
}
#cardDialog:modal #updateBtn {
    margin: 0 40px 0 0;
}
#cardDialog:modal #deleteBtn {
    margin: 0 0 0 40px;
}

#cardDialog:modal.open {
    transition: height 0.4s ease;
    height: 30rem;
}
#cardDialog:modal.open #editTitle {
    margin: 10px;
    position: absolute;
    top: 0;
}
#cardDialog:modal.open #editForm{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   gap: 10px;
}
#cardDialog:modal.open #editForm input {
    width: 60%;
    height: 10%;
    font-size: 2rem;
}
#cardDialog:modal.open #editForm button{
    width: 25%;
    height: 15%;
    font-size: 1.5rem;
}

